/build
scripts/build
scripts/deps
/CMakeLists.txt.user
/.idea
/src/backend/opencl/cl/cn/cryptonight_gen.cl
/cmake-build-debug/src/3rdparty/argon2/argon2.cbp
/cmake-build-debug/CMakeFiles/xmrig.dir/build.make
/cmake-build-debug/src/3rdparty/argon2/CMakeFiles/argon2.dir/build.make
/cmake-build-debug/src/3rdparty/libethash/CMakeFiles/ethash.dir/build.make
/cmake-build-debug/src/crypto/ghostrider/CMakeFiles/ghostrider.dir/build.make
/cmake-build-debug/.cmake/api/v1/query/cache-v2
/cmake-build-debug/.cmake/api/v1/reply/cache-v2-c10d40da2bf877da3352.json
/cmake-build-debug/CMakeFiles/clion-environment.txt
/cmake-build-debug/CMakeFiles/clion-log.txt
/cmake-build-debug/CMakeFiles/cmake.check_cache
/cmake-build-debug/CMakeFiles/xmrig.dir/cmake_clean.cmake
/cmake-build-debug/src/3rdparty/argon2/CMakeFiles/argon2.dir/cmake_clean.cmake
/cmake-build-debug/src/3rdparty/libethash/CMakeFiles/ethash.dir/cmake_clean.cmake
/cmake-build-debug/src/crypto/ghostrider/CMakeFiles/ghostrider.dir/cmake_clean.cmake
/cmake-build-debug/CMakeFiles/xmrig.dir/cmake_clean_target.cmake
/cmake-build-debug/src/3rdparty/argon2/CMakeFiles/argon2.dir/cmake_clean_target.cmake
/cmake-build-debug/src/3rdparty/libethash/CMakeFiles/ethash.dir/cmake_clean_target.cmake
/cmake-build-debug/src/crypto/ghostrider/CMakeFiles/ghostrider.dir/cmake_clean_target.cmake
/cmake-build-debug/src/3rdparty/argon2/cmake_install.cmake
/cmake-build-debug/src/3rdparty/libethash/cmake_install.cmake
/cmake-build-debug/src/crypto/ghostrider/cmake_install.cmake
/cmake-build-debug/cmake_install.cmake
/cmake-build-debug/CMakeCache.txt
/cmake-build-debug/CMakeFiles/3.22.3/CMakeCCompiler.cmake
/cmake-build-debug/CMakeFiles/3.22.3/CompilerIdC/CMakeCCompilerId.c
/cmake-build-debug/CMakeFiles/3.22.3/CompilerIdC/CMakeCCompilerId.o
/cmake-build-debug/CMakeFiles/3.22.3/CMakeCXXCompiler.cmake
/cmake-build-debug/CMakeFiles/3.22.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
/cmake-build-debug/CMakeFiles/3.22.3/CompilerIdCXX/CMakeCXXCompilerId.o
/cmake-build-debug/CMakeFiles/3.22.3/CMakeDetermineCompilerABI_C.bin
/cmake-build-debug/CMakeFiles/3.22.3/CMakeDetermineCompilerABI_CXX.bin
/cmake-build-debug/CMakeFiles/CMakeDirectoryInformation.cmake
/cmake-build-debug/src/3rdparty/argon2/CMakeFiles/CMakeDirectoryInformation.cmake
/cmake-build-debug/src/3rdparty/libethash/CMakeFiles/CMakeDirectoryInformation.cmake
/cmake-build-debug/src/crypto/ghostrider/CMakeFiles/CMakeDirectoryInformation.cmake
/cmake-build-debug/CMakeFiles/CMakeError.log
/cmake-build-debug/.cmake/api/v1/query/cmakeFiles-v1
/cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-85c5b0ab7a100e6cdd76.json
/cmake-build-debug/CMakeFiles/CMakeOutput.log
/cmake-build-debug/CMakeFiles/3.22.3/CMakeSystem.cmake
/cmake-build-debug/.cmake/api/v1/query/codemodel-v2
/cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-7d1ef72d445c95e84941.json
/cmake-build-debug/CMakeFiles/xmrig.dir/compiler_depend.make
/cmake-build-debug/src/3rdparty/argon2/CMakeFiles/argon2.dir/compiler_depend.make
/cmake-build-debug/src/3rdparty/libethash/CMakeFiles/ethash.dir/compiler_depend.make
/cmake-build-debug/src/crypto/ghostrider/CMakeFiles/ghostrider.dir/compiler_depend.make
/cmake-build-debug/CMakeFiles/xmrig.dir/compiler_depend.ts
/cmake-build-debug/src/3rdparty/argon2/CMakeFiles/argon2.dir/compiler_depend.ts
/cmake-build-debug/src/3rdparty/libethash/CMakeFiles/ethash.dir/compiler_depend.ts
/cmake-build-debug/src/crypto/ghostrider/CMakeFiles/ghostrider.dir/compiler_depend.ts
/cmake-build-debug/CMakeFiles/xmrig.dir/depend.make
/cmake-build-debug/src/3rdparty/argon2/CMakeFiles/argon2.dir/depend.make
/cmake-build-debug/src/3rdparty/libethash/CMakeFiles/ethash.dir/depend.make
/cmake-build-debug/src/crypto/ghostrider/CMakeFiles/ghostrider.dir/depend.make
/cmake-build-debug/CMakeFiles/xmrig.dir/DependInfo.cmake
/cmake-build-debug/src/3rdparty/argon2/CMakeFiles/argon2.dir/DependInfo.cmake
/cmake-build-debug/src/3rdparty/libethash/CMakeFiles/ethash.dir/DependInfo.cmake
/cmake-build-debug/src/crypto/ghostrider/CMakeFiles/ghostrider.dir/DependInfo.cmake
/cmake-build-debug/.cmake/api/v1/reply/directory-.-Debug-f5ebdc15457944623624.json
/cmake-build-debug/.cmake/api/v1/reply/directory-src.3rdparty.argon2-Debug-1f0a8466ab11bd378a7f.json
/cmake-build-debug/.cmake/api/v1/reply/directory-src.3rdparty.libethash-Debug-c6fd5e3a736fbfd11f37.json
/cmake-build-debug/.cmake/api/v1/reply/directory-src.crypto.ghostrider-Debug-6071c684556a29235d4b.json
/cmake-build-debug/src/3rdparty/libethash/ethash.cbp
/cmake-build-debug/CMakeFiles/xmrig.dir/flags.make
/cmake-build-debug/src/3rdparty/argon2/CMakeFiles/argon2.dir/flags.make
/cmake-build-debug/src/3rdparty/libethash/CMakeFiles/ethash.dir/flags.make
/cmake-build-debug/src/crypto/ghostrider/CMakeFiles/ghostrider.dir/flags.make
/cmake-build-debug/src/crypto/ghostrider/GhostRider.cbp
/cmake-build-debug/.cmake/api/v1/reply/index-2022-06-11T10-27-27-0467.json
/cmake-build-debug/CMakeFiles/xmrig.dir/link.txt
/cmake-build-debug/src/3rdparty/argon2/CMakeFiles/argon2.dir/link.txt
/cmake-build-debug/src/3rdparty/libethash/CMakeFiles/ethash.dir/link.txt
/cmake-build-debug/src/crypto/ghostrider/CMakeFiles/ghostrider.dir/link.txt
/cmake-build-debug/src/3rdparty/argon2/Makefile
/cmake-build-debug/src/3rdparty/libethash/Makefile
/cmake-build-debug/src/crypto/ghostrider/Makefile
/cmake-build-debug/Makefile
/cmake-build-debug/CMakeFiles/Makefile.cmake
/cmake-build-debug/CMakeFiles/Makefile2
/cmake-build-debug/CMakeFiles/xmrig.dir/progress.make
/cmake-build-debug/src/3rdparty/argon2/CMakeFiles/argon2.dir/progress.make
/cmake-build-debug/src/3rdparty/libethash/CMakeFiles/ethash.dir/progress.make
/cmake-build-debug/src/crypto/ghostrider/CMakeFiles/ghostrider.dir/progress.make
/cmake-build-debug/CMakeFiles/progress.marks
/cmake-build-debug/src/3rdparty/argon2/CMakeFiles/progress.marks
/cmake-build-debug/src/3rdparty/libethash/CMakeFiles/progress.marks
/cmake-build-debug/src/crypto/ghostrider/CMakeFiles/progress.marks
/cmake-build-debug/.cmake/api/v1/reply/target-argon2-Debug-459afdab21b7ecd99ee9.json
/cmake-build-debug/.cmake/api/v1/reply/target-ethash-Debug-d13c52212f7ef1f6a663.json
/cmake-build-debug/.cmake/api/v1/reply/target-ghostrider-Debug-eb603a1ad4dcee885d37.json
/cmake-build-debug/.cmake/api/v1/reply/target-xmrig-Debug-86d2300efd26b43cfd53.json
/cmake-build-debug/CMakeFiles/TargetDirectories.txt
/cmake-build-debug/.cmake/api/v1/query/toolchains-v1
/cmake-build-debug/.cmake/api/v1/reply/toolchains-v1-418089a0514d41e897b6.json
/cmake-build-debug/xmrig.cbp
